@import '../settings/*'
@require '~vuetify/src/stylus/components/_dialogs.styl'

.v-dialog
  &:not(&--fullscreen)
    @media $display-breakpoints.xs-only
      margin: 16px

.v-dialog
  .v-card
    &__title
      font-size: 28px
