@import '../settings/*'
@require '~vuetify/src/stylus/components/_alerts.styl'

.v-alert
  .v-alert__icon.v-icon,
  &__dismissible .v-icon
    align-self: stretch
    display: block

.v-alert.v-alert
  border-color: $material-light.dividers !important
  &--outline
    border: $alert-outline-border-width $alert-outline-border-style currentColor !important
