@import '../settings/*'
@require '~vuetify/src/stylus/components/_cards.styl'

v-card($material)
  &.card--flex-toolbar
    background-color: transparent

theme(v-card, "v-card")

.v-card
  &__actions
    .v-btn
      &.v-btn--block
        flex: 1 1 100%
      & + .v-btn.v-btn--block
          margin-left: 0
          margin-top: 8px

  .v-card__option
    font-size: 11px
    letter-spacing: 1px
    color: #aba0ac
    margin-bottom: 2px

    &-label
      font-size: 16px

      &.preview
        display: block;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

  &.enquiry-details
    @media $display-breakpoints.sm-and-down
      overflow: hidden
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1)

    .v-list__tile__action
      min-width: 0


    .v-chip:not(.flexible):not(.plan)
      margin-left: 0
      margin-right: 4px
      background: #e3e3e3
      font-weight: 700
      color: #333

    .v-card__text .v-icon:not(.logo-icon)
      background: -webkit-linear-gradient(12deg, #31287c, #8b1c80 70%, #951b81)
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    .v-text-field .v-icon
      background: initial !important;
      -webkit-text-fill-color: initial !important;

    .advice-method
      font-size: 13px
      line-height: 1

      @media $display-breakpoints.md-and-up
        div
          font-size: 11px

    .accept-title
      font-size: 18px
      font-weight: 700
    .accept-subtitle
      font-size: 15px

    .accepted-block
      box-shadow: inset 0 -2px 0 0 #f1f1f1, inset 0 2px 0 0 #f1f1f1;

    .accepted-title
      font-size: 13px

      .ub
        color: #ccdc29
        font-size: 16px
        background: none !important
        -webkit-text-fill-color: currentColor !important

    .accepted-block
      margin-left: -24px
      margin-right: -24px
      padding: 16px 24px
      background: #f7f7f7

      @media $display-breakpoints.sm-and-down
        margin-left: -16px
        margin-right: -16px
        padding-left: 16px
        padding-right: 16px

    .areas
      &__primary, &__secondary
        font-size: 13px
        color: #4d3d4f

    .v-btn .v-btn__content .v-icon
      -webkit-text-fill-color: currentColor

  &.card--flex-toolbar
    margin-top: -60px
    z-index: 3

    .v-tabs
      @media $display-breakpoints.sm-and-down
        margin-bottom: 8px

      &:not(.v-tabs--auth) .v-tabs__slider
        margin-left: 0
        width: 100%
        height: 2px

  .close
    top: 8px
    right: 8px
    color: #aba0ac
    z-index: 3

    @media $display-breakpoints.sm-and-down
      top: 0
      right: 0

  .date
    color: #aba0ac
    font-size: 15px

    @media $display-breakpoints.sm-and-down
      font-size: 13px
