@require '~vuetify/src/stylus/components/_app.styl'

.application
  .start-page-bg:not(.no-bg)
    $image = '../assets/images/auth_bg.png'

    & > .flex:first-child
      position: relative
      &:before
        content: ''
        position: absolute
        width: image-size($image)[0]

        @media $display-breakpoints.md-and-up
          background: url($image) no-repeat;
          background-size: contain;
          height: 450px
          left: -20%
          top: calc(100% + 40px)
        @media $display-breakpoints.lg-only
          height: 480px
          left: -25%
        @media $display-breakpoints.xl-only
          background-size: image-size($image)[0] image-size($image)[1]
          height: image-size($image)[1]
          top: calc(100% + 70px)
    &--forgot-password
      & > .flex:first-child
        $image = '../assets/images/forgotten_password.png'
        &:before
          @media $display-breakpoints.md-and-up
            background: url($image) no-repeat;
            
.grabbing * {
    cursor: grabbing !important;
}
